.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}